header{
    margin-top: 1rem;
    padding-top: 1rem;
}

header a{
    font-weight: 200;
    text-decoration: none;
}

header div{
    margin-top: 1rem;
}

header ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header li{
    list-style-type: none;
    margin-left: 0;
    margin-top: 0.5rem;
}


header li.current_page_item a{
    font-weight: 600;
}

header li:hover{
    transform: scale(1.1);
}

#logo{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
}

@media (min-width: 768px){
    header{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    #logo{
        justify-self: start;
    }

    header div{
        justify-self: end;
    }
}