#page h1{
    font-size: 2.5rem;
}

#page #page-title{
    background-color: var(--blue);
    padding: 0 0.5rem;
}

#page a:hover{
    opacity: 80%;
}

#page cite{
    display: block;
}

#page cite::before{
    content: "- ";
}

#page figure{
    margin: 1rem auto 0;
    width: 100%;
}

#page iframe{
    display: block;
    margin: 1rem auto 0;
}

#page img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

#page figcaption{
    margin-top: 0.5rem;
    text-align: center;
}

#page h1{
    margin-top: 1rem;
}

#page h2{
    background-color: var(--pink);
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0 0.5rem;
    width: fit-content;
}

#page h3{
    color: var(--black);
    background-color: var(--purple);
    font-size: 1.25rem;
    margin-top: 1rem;
    padding: 0.25rem;
    width: fit-content;
}

#page h4{
    color: var(--black);
    background-color: var(--orange);
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.15rem;
    width: fit-content;
}

#page h5{
    color: var(--black);
    background-color: var(--yellow-green);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem;
    width: fit-content;
}

#page h6{
    color: var(--black);
    background-color: var(--green);
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem;
    width: fit-content;
}

#page ol li{
    list-style-type: decimal;
}

#page table{
    margin-top: 0.5rem;
}

#page table td{
    border: 1px solid var(--white);
    padding: 1rem;
}

#page blockquote{
    font-style: italic;
}

#page .wp-block-button{
    margin-top: 1rem;
}

#page .wp-block-button a{
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 600;
}

#page .wp-block-button a:hover{
    color: var(--black);
    opacity: 80%;
    text-decoration: none;
}

#page .wp-block-table{
    overflow-x: auto;
}

@media (min-width: 768px){
    #page h1{
        margin-top: 0;
    }

    #page figure{
        margin-top: 1.5rem;
    }

    #page img{
        width: 80%;
    }
}

@media (min-width: 1024px){
    #page img{
        width: 60%;
    }
}