#search-title{
    font-size: 2rem;
}

#search-results-container{
    margin-top: 1rem;
}

@media(min-width: 768px){
    #search-results-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1024px){
    #search-results-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}