#single h1{
    font-size: 2.5rem;
}

#single #page-title{
    background-color: var(--blue);
    padding: 0 0.5rem;
}

#single a:hover{
    opacity: 80%;
}

#single cite{
    display: block;
}

#single cite::before{
    content: "- ";
}

#single figure{
    margin: 1rem auto 0;
    width: 100%;
}

#single iframe{
    display: block;
    margin: 1rem auto 0;
}

#single img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

#single figcaption{
    margin-top: 0.5rem;
    text-align: center;
}

#single h1{
    margin-top: 1rem;
}

#single h2{
    color: var(--black);
    background-color: var(--yellow-green);
    margin-top: 1.5rem;
    padding: 0 0.5rem;
    width: fit-content;
}

#single h3{
    color: var(--black);
    background-color: var(--purple);
    font-size: 1.75rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: fit-content;
}

#single h4{
    color: var(--black);
    background-color: var(--pink);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: fit-content;
}

#single h5{
    color: var(--black);
    background-color: var(--green);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: fit-content;
}

#single h6{
    color: var(--black);
    background-color: var(--orange);
    font-weight: 600;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: fit-content;
}

#single ol li{
    list-style-type: decimal;
}

#single table{
    margin-top: 0.5rem;
}

#single table td{
    border: 1px solid var(--white);
    padding: 1rem;
}

#single blockquote{
    font-style: italic;
}

#single .wp-block-button{
    margin-top: 1rem;
}

#single .wp-block-button a{
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 600;
}

#single .wp-block-button a:hover{
    color: var(--black);
    opacity: 80%;
    text-decoration: none;
}

#single .wp-block-table{
    overflow-x: auto;
}

@media (min-width: 768px){
    #single h1{
        margin-top: 0;
    }

    #single figure{
        margin-top: 1.5rem;
    }

    #single img{
        width: 80%;
    }
}

@media (min-width: 1024px){
    #single img{
        width: 60%;
    }
}